<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="#" data-toggle="modal" data-target="#shipper-modal" class="btn btn-primary btn-lg loginTopSpace">Shipper Login</a> &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#transporter-modal" class="btn btn-primary btn-lg loginTopSpace">Transporter Login</a>
            </div>
        </div>
    </div>
</div>

<!--Shipper Modal -->
<div class="modal fade" id="shipper-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Shipper Login</h1><br>
				    <%= bootstrap_form_for @slogin, url: {action: "create"} do |f| %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.text_field :username, label:"Username", required: true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.password_field :password, label:"Password", required:true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.hidden_field :hiddenType, value: "Supplier" %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.submit "Login", class: "btn btn-primary align-center" %>
                        </div>
                    <% end %>
					
				</div>
			</div>
		  </div>


<!--Transporter Modal -->
<div class="modal fade" id="transporter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Transporter Login</h1><br>
				    <%= bootstrap_form_for @tlogin, url: {action: "create"} do |f| %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.text_field :username, label:"Username", required: true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.password_field :password, label:"Password", required:true %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.hidden_field :hiddenType, value: "Transporter" %>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                            <%= f.submit "Login", class: "btn btn-primary align-center" %>
                        </div>
                    <% end %>
					
				</div>
			</div>
		  </div>