<%= render "layouts/header"  %>
<%= render "layouts/sidenav"  %>
           
<div class="templaterightwrap">  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
        <div class="pull-left"> <h3 class="pageheading">All Nominations</h3></div>
        <% if ($userRole_frm == "Supplier")  %>
            <div class="pull-right">
                <%= link_to "<button class='btn btn-primary btn-small'>Create Nomination</button>".html_safe, new_nomination_path(status:"createNom")  %>
            </div> 
        <% end %>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
        <div class="table-responsive">
            <table class="table table-bordered gridTable" id="nominations">
            <thead class="gridheader">
              <tr>
                <th>Ref#</th>
                <% if ($userRole_frm == "Transporter")  %>
                  <th>Supplier Name</th>
                <% end %>
                <th>Start Date</th>
                <th>Cessation Date</th>
                <th>Injection Details</th>
                <th>Offtake Details</th>
                <th>Nomination Type</th>
                <th>Status</th>
                <% if ($userRole_frm == "Supplier")  %>
                  <th>Action</th>
                <% end %>
                
              </tr>
            </thead>
            <tbody>                          
                 <% @nominations.each do |key,value| %>
                    <% value.each do |val| %>                                    
                            <tr>
                              <td><%= val["refId"] %></td>
                                <% if ($userRole_frm == "Transporter")  %>
                                <td><%= val["supplierName"] %></td>
                                <% end %>
                                <td><%= val["startDate"] %></td>
                                <td><%= val["cessationDate"] %></td>
                                <td><%= val["injectionDetails"]["injectionPoint"] %> - <%= val["injectionDetails"]["InjectionQty"] %></td>
                                <td><%= val["offtakeDetails"]["offtakePoint"] %> - <%= val["offtakeDetails"]["offtakeQuantity"] %></td>
                                <td><%= val["nominationType"] %></td>
                                <td><%= val["status"] %></td>
                                <% if ($userRole_frm == "Supplier")  %>
                                    <td class="text-center">     
                                        <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, new_nomination_path(status:"modifyNom")  %>
                                     </td>
                                <% end %>
                            </tr>                                                                     
                    <% end %>                              
                <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>