<%= render "layouts/header"  %>
<%= render "layouts/sidenav"  %>
           
<div class="templaterightwrap">      
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
            <div class="pull-left"> 
                <% if @status == "createNom" %>
                    <h3 class="pageheading">Create Nomination</h3>
                 <% elsif @status == "modifyNom" %>
                    <h3 class="pageheading">Modify Nomination</h3>
                 <% else %>
                    <h3 class="pageheading">Nomination Details</h3>
                 <% end %>                
            </div>
            <div class="pull-right">
                <% if @status == "createNom" or @status == "modifyNom" %>
                    <%= link_to "<button class='btn btn-primary btn-small'>Back</button>".html_safe, nominations_path %>
                 <% else %>
                     <%= link_to '/nominations/notification' do %>
                        <span class='btn btn-primary btn-small'>Back</span>
                    <% end %>
                 <% end %> 
            </div>        
        </div>   
    
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 nopadmar">                   
        <%= bootstrap_form_for @nomination, url: {action: "create"} do |f| %>
            <% if @status == "modifyNom" or @status == "viewNom" %>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 nopadmar">   
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                   
                    <%= f.text_field :capacity, value: "12101", label:"Ref#", disabled: true %>
                </div>
            </div>
            <% end %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                <% if @status == "viewNom" %>
                    <%= f.date_field :nominationstartdate, value: "Nomination Start Date", label:"Nomination Start Date", disabled: true %>
                <% else %>
                    <%= f.date_field :nominationstartdate, label:"Nomination Start Date", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                     <%= f.date_field :nominationenddate, label: "Cessation Date", disabled: true %>
                <% else %>
                    <%= f.date_field :nominationenddate, label: "Cessation Date", required: true %>
                <% end %>                    
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" %>
                    <%= f.text_field :injectionpoint, value: "Injection Point" , label: "Injection Point", disabled: true %>
                <% else %>
                    <%= f.text_field :injectionpoint, label: "Injection Point", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" %>
                    <%= f.text_field :injectionquantity, value: "Injection Quantity" ,label: "Injection Quantity", disabled: true %>
                <% else %>
                    <%= f.text_field :injectionquantity, label: "Injection Quantity", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                    <%= f.text_field :offtakepoint, Value: "Offtake Point", label: "Offtake Point", disabled: true %>
                <% else %>
                    <%= f.text_field :offtakepoint, label: "Offtake Point", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                <% if @status == "viewNom" %>
                    <%= f.text_field :offtakequantity, Value: "Offtake Quantity",label: "Offtake Quantity", disabled: true %>
                <% else %>
                    <%= f.text_field :offtakequantity, label: "Offtake Quantity", required: true %>
                <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
                <% if @status == "viewNom" or @status == "modifyNom" %>
                    <%= f.text_field :capacity, value: "Ref#", label:"Capacity Right", disabled: true %>
                <% else %>
                    <%= f.text_field :capacity, label: "Ref#", required: true %>
                <% end %>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                
                <% if @status == "modifyNom" %>
                    <%= f.submit "Renominate", class: "btn btn-primary btn-top-spacing align-center" %>
                <% end %>
                <% if @status == "createNom" %>
                    <%= f.submit "Submit", class: "btn btn-primary btn-top-spacing align-center" %>
                <% end %>               
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-top-spacing">  
                 <% if @status == "viewNom" or @status == "modifyNom" %>
                    <span class = "label label-warning label-nomination">Initial Nomination</span> <span class = "label label-success label-nomination">Accepted</span>    
                <% end %>   
            </div>
        <% end %>
    </div>     
</div>