html, body {
    height: 100% !important;
    margin: 0;
}
.nopadmar,.row{
    padding:0 !important;
    margin:0 !important;
}

.loginTopSpace{
    margin-top:250px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #428bca;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ebd;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.header{
    background: #757575;
    margin: 0px;
    padding: 20px;
    color: #fff;
}
.templaterightwrap{
    width:80%;
    float:left;
    padding-left:5%;
}

.sidenavwrap {
    margin-left: 0px;
    height: 100%;
    background:#428bca;
    width:15%;
    float:left;
}
.sidebar-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background:#428bca;
}

.sidebar-nav li {
    text-indent: 10px;
    font-size:16px;
    line-height:45px;
    border-bottom:1px solid #357ebd;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #357ebd;
}

.sidebar-nav li.active,
.sidebar-nav li.focus {
    text-decoration: none;
    background: #357ebd;
}
.pageheading{
    margin-bottom:20px;
    margin-top:0px;
    color:#357ebd;
}
.gridTable{
    margin-top:50px;
    font-size:13px;
}
.gridheader{
    background: #428bca;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contentheader{
    padding-top: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.btn-top-spacing{
    margin-top:20px;
}